testbed/run/
testbed/runs/
testbed/losses/
testbed/coverage/
testbed/snapshots/
testbed/osmtiles/
testbed/nodesets/
testbed/geodata/
testbed/ui/dist/
testbed/ui/node_modules/
testbed/ui/.quasar/
radio/build/
ether/build/
planner/target/
/firmware/
__pycache__/
.pytest_cache/
ether/build/
.venv/
